/* --- FONDO GENERAL --- */
.stApp {
    background-color: #f4f7f6;
}

/* --- TÍTULOS --- */
h1 {
    color: #0e76a8; /* Azul Médico */
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

h2, h3 {
    color: #2c3e50;
}

/* --- BOTONES --- */
div.stButton > button {
    background-color: #0e76a8;
    color: white;
    width: 100%;
    height: 60px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

div.stButton > button:hover {
    background-color: #0b5e85; /* Un azul más oscuro al pasar el mouse */
    transform: scale(1.02);
}

/* --- CAJAS DE TEXTO (RESULTADOS) --- */
.stSuccess {
    background-color: #d4edda;
    border-left: 5px solid #28a745;
}

/* --- BARRA LATERAL --- */
section[data-testid="stSidebar"] {
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
}